
<div class="digg_pagination" style="margin:auto">
  <%= will_paginate @hw_table %>
</div>

<table class="table table-bordered table-striped">
<tr>
  <th> Курс </th>
  <th> Занятие </th>
  <th> Гр№ </th>
  <th> ФИО </th>
  <th> Домашняя работа </th>
  <th> Дата загрузки </th>
</tr>

<% @hw_table.each do |row| %>
  <tr>
    <td><%= row[:course] %></td>
    <td><%= row[:period] %></td>
    <td><%= row[:group] %></td>
    <td><%= row[:user] %></td>
    <% if row[:assigment].empty? %>
        <td>Не загружено</td>
        <td></td>
    <% else %>
        <td>
          <% row[:assigment].each do|e| %>
              <%= link_to e.homework_file_name, download_hw_path(e.id) %>

          <% end %>
        </td>
        <td>
          <% row[:assigment].each do|e| %>
              <%= e.created_at.strftime("%H:%M %d %b %Y") %>

          <% end %>
        </td>
    <%	end %>

  </tr>
<% end %>

</table>
