
<%= form_for @assignment do |f| %>
    <div class="form-group <%= 'has-error' if @assignment.errors[:course_id].any? %>">
      <%= f.label :user_id, 'Пользователь', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :user_id, class: 'form-control', value: current_user.name, :disabled => true %>
        <%= render 'shared/field_errors', object: @assignment, field_name: :course_id %>
      </div>
    </div>



    <div class="form-group <%= 'has-error' if @assignment.errors[:file].any? %>">
      <%= f.label :homework, 'Домашняя работа', class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.file_field :homework %>
        <%= render 'shared/field_errors', object: @assignment, field_name: :file %>
      </div>
    </div>
    <br/>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 margin-top20">
        <%= f.submit 'Добавить домашнюю работу', class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>