<div class="digg_pagination" style="margin:auto">
  <%= will_paginate @hw_table %>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th> ФИО </th>
    <th> Домашняя работа </th>
    <th> Время отправки </th>
    <th> Оценка </th>
    <th> Комментарий </th>
  </tr>

  <% @hw_table.each do |row| %>
      <tr>
        <td><%= row[:user] %></td>
        <% if row[:assigment].empty? %>
            <td>
              не присланно
            </td>
            <td>
                -
            </td>
            <td>
              оценка
            </td>
            <td>
              комментарий
            </td>
        <% else %>
            <td>
              <% row[:assigment].each do|e| %>
                  <%= link_to e.homework_file_name, download_hw_path(e.id) %>
              <% end %>
            </td>
            <td>
              <% row[:assigment].each do|e| %>
                  <%= e.created_at.strftime("%H:%M %d %b %Y") %>
              <% end %>
            </td>
            <td>
              <% row[:assigment].each do|e| %>
                  <% if e.grade.nil? %>
                    <%= link_to "поставить оценку", assignment_path(e.id, grade:1)%>
                  <% else%>
                    <%= link_to e.grade, assignment_path(e.id, grade:1)%>
                  <% end %>
              <% end %>
            </td>
            <td>
              <% row[:assigment].each do|e| %>
                  <% if e.review.nil? %>
                      <%= link_to "написать комментарий", assignment_path(e.id, review:1)%>
                  <% else%>
                      <%= link_to "Просмотреть комментарий", assignment_path(e.id, review:1)%>
                  <% end %>
              <% end %>
            </td>
        <%	end %>

      </tr>
  <% end %>
</table>