<div class="digg_pagination" style="margin:auto">
  <%= will_paginate @hw_table %>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th> ФИО </th>
    <th> Домашняя работа </th>
    <th> Время отправки </th>
    <th> Оценка </th>
    <th> Комментарий </th>
  </tr>

  <% @hw_table.each do |row| %>
    <% if row[:assigment].empty? %>
        <tr>
          <td><%= row[:user] %></td>
          <td>
            не присланно
          </td>
          <td>
            -
          </td>
          <td>
            оценка
          </td>
          <td>
            комментарий
          </td>
        </tr>
    <% else %>
        <% row[:assigment].each do|e| %>
            <tr>
              <td><%= row[:user] %></td>
              <td>
                <%= link_to e.homework_file_name, download_hw_path(e.id) %>
                <br>
              </td>
              <td>

                <%= e.created_at.strftime("%H:%M %d %b %Y") %>
                <br>
              </td>
              <td>
                <% if e.grade.nil? %>
                    <%= render partial: 'assignments/grade_form', locals:{assignment: e,
                                                                          grade_id: e.id,
                                                                          text: 'Оценить'} %>
                <% else%>
                    <%= render partial: 'assignments/grade_form', locals:{assignment: e,
                                                                          grade_id: e.id,
                                                                          text: e.grade} %>
                <% end %>

                <br>
              </td>
              <td>
                <% if e.review.nil? %>
                    <%= render partial: 'assignments/review_form', locals:{assignment: e,
                                                                           review_id: e.id,
                                                                           text: 'Оставить комментарий'} %>
                <% else%>
                    <%= render partial: 'assignments/review_form', locals:{assignment: e,
                                                                           review_id: e.id,
                                                                           text: 'Просмотреть комментарий'} %>
                <% end %>
                <br>
              </td>
            </tr>
        <% end %>
    <%	end %>
  <% end %>
</table>