
<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Тема занятия</th>
    <th>Дата проведения занятия</th>
    <th>Домашняя работа</th>
  </tr>
  </thead>
  <tbody>
  <% @periods.each do |period| %>
      <tr>
        <td><%= @counter_for_homework %></td>
        <% if @time > period.commence_datetime %>
            <td><%= link_to period.title, course_course_element_path(@course.id, period.id)  %></td>
            <td><%= period.commence_datetime.to_formatted_s(:long) %></td>
            <td>
              <% @have_assignment = Assignment.where(period_id: period.id,user_id: current_user.id)  %>
              <% if @have_assignment.blank? %>
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#homework_<%= period.id %>">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                    Загрузить домашнюю работу
                  </button>
                  <%= render partial: 'students/modal_show_hw', locals:{assignment: @assignment_new,
                                                                        path: assignments_path,
                                                                        modal_id: period.id,
                                                                        request_method: :POST, period: period} %>
              <% end  %>
              <% @have_assignment.each do|assignment|%>
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#homework_<%= assignment.id%>">
                    <% if assignment.DownloadStatus %>
                        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                    <% end %>
                    <% unless assignment.grade.nil? %>
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    <% end %>
                    <% unless assignment.review.nil? %>
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    <% end %>
                    <%= assignment.homework_file_name %>
                  </button>
                  <%= render partial: 'students/modal_show_hw', locals:{assignment: assignment,
                                                                        path: assignment_path(assignment.id),
                                                                        modal_id: assignment.id,
                                                                        request_method: :PUT, period: period} %>
              <% end %>
            </td>
        <% else  %>
            <td><%= period.course_element.theme %></td>
            <td colspan="5"><%= period.commence_datetime.to_formatted_s(:long) %></td>
        <% end %>
      </tr>
      <% @counter_for_homework += 1 %>
  <% end %>
  </tbody>
</table>