<%= form_for @sms_delivery, html: {class: 'form-horizontal'} do |f| %>

    <div class="form-group col-sm-12">
      <%= f.label :content, value: 'Текст*', class: 'col-sm-3 control-label' %>
      <div class="col-sm-6">
        <span>Количество символов: </span><span id="char-num"></span>
        <span>Количество сообщений: </span><span id="sms-count"></span>
        <%= f.text_area :content, rows: 10, class: 'form-control', id: 'text-field' %>
        <%= render 'shared/field_errors', object: @sms_delivery, field_name: :content %>
      </div>
    </div>

    <div class="form-group col-sm-12">
      <%= f.label :senders, value: 'Отправитель*', class: 'col-sm-3 control-label' %>

      <div class="col-sm-6">
        <%= f.collection_select :sender_id, Sender.all.order(created_at: :desc), :id, :name, {}, class: 'form-control' %>
      </div>
      <%= render 'shared/field_errors', object: @sms_delivery, field_name: :sender %>
    </div>

    <div class="form-group col-sm-12">
      <%= f.label :contact_list, value: 'Лист получателей*', class: 'col-sm-3 control-label' %>
      <div class="col-sm-6">
        <%= f.collection_select :contact_list_id, ContactList.all, :id, :title, {:selected => @contact_list.id}, class: 'form-control',
                                :prompt => true, :selected => @contact_list.id  %>
      </div>
      <%= render 'shared/field_errors', object: @sms_delivery, field_name: :contact_list %>
    </div>

    <div class="form-group col-sm-12">
      <%= f.label :title, value: 'Название*', class: 'col-sm-3 control-label' %>
      <div class="col-sm-6">
        <%= f.text_field :title, class: 'form-control' %>
        <%= render 'shared/field_errors', object: @sms_delivery, field_name: :title %>
      </div>
    </div>

    <div class="form-group col-sm-12">
      <div class="col-sm-offset-3 col-sm-6">
        <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
      </div>
    </div>

<% end %>