
<%= form_for [@course, @course_element, @course_element_material] do |form| %>


    <div class="form-group <%= 'has-error' if @course_element_material.errors[:title].any? %>">
      <%= form.label :title, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= form.text_field :title, class: 'form-control' %>
        <%= render 'shared/field_errors', object: @course_element_material, field_name: :title %>
      </div>
    </div>

    <div class="form-group" <%= 'has-error' if @course_element_material.errors[:content].any? %>">
      <%= form.label :content, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= form.cktext_area :content, class: 'ckeditor' %>
        <%= render 'shared/field_errors', object: @course_element_material, field_name: :content %>
      </div>
    </div>
    <br/>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 margin-top20">
        <%= form.submit yield(:button_text), class: 'btn btn-primary' %>
      </div>
    </div>

<% end %>
