
<h1>Элемент курса "<%= @course_element.theme %>"</h1>

<%= link_to 'Назад', course_path(@course.id) %>
<br/>

<%= link_to 'Загрузить файл',  new_course_course_element_course_element_file_path(@course, @course_element.id), class: 'btn btn-primary' %>


<table class="table">
  <tr>
    <th>Файл</th>
    <th>Размер файла</th>
    <th> Действия </th>
  </tr>

  <% @course_element_file.each do |file| %>
      <tr>
        <td><%=link_to file.file_file_name, course_course_element_download_path( Course.find(CourseElement.find(file.course_element_id).course_id),file.course_element_id,file.id) %></td>
        <td><%= number_to_human_size(file.file_file_size)  %></td>
        <td>

          <%= link_to 'Удалить', course_course_element_course_element_file_path( Course.find(CourseElement.find(file.course_element_id).course_id),file.course_element_id,file.id),
                      method: :delete,
                      data: {confirm: 'Вы действительно хотите удалить этот файл?'} %>
        </td>
      </tr>
  <% end %>
</table>



<%= link_to 'Добавить материал',  new_course_course_element_course_element_material_path(@course, @course_element.id), class: 'btn btn-primary' %>



<table class="table">
  <tr>
    <th> Заголовок</th>
    <th> Действия </th>
  </tr>

  <% @course_element_material.each do |material| %>
      <tr>
        <td><%=link_to material.title, course_course_element_course_element_material_path( Course.find(CourseElement.find(material.course_element_id).course_id),material.course_element_id,material.id) %></td>
        <td>
          <%= link_to 'Изменить', edit_course_course_element_course_element_material_path(Course.find(CourseElement.find(material.course_element_id).course_id),material.course_element_id,material.id) %>
          <%= link_to 'Удалить', course_course_element_course_element_material_path( Course.find(CourseElement.find(material.course_element_id).course_id),material.course_element_id,material.id),
                      method: :delete,
                      data: {confirm: 'Вы действительно хотите удалить этот файл?'} %>
        </td>
      </tr>
  <% end %>
</table>