
<h1>Элемент курса "<%= @course_element.theme %>"</h1>

<%= link_to 'Назад', course_path(@course.id) %>
<br/>

<%= link_to 'Создать материал элемента курса',  new_course_course_element_course_element_file_path(@course, @course_element.id), class: 'btn btn-primary' %>


<table class="table">
  <tr>
    <th>Название курса</th>
    <th> Действия </th>
  </tr>

  <% @course_element_file.each do |file| %>
      <tr>
        <td><%= file.file_file_name %></td>
        <td>

          <%= link_to 'Удалить', course_course_element_course_element_file_path( Course.find(CourseElement.find(file.course_element_id).course_id),file.course_element_id,file.id),
                      method: :delete,
                      data: {confirm: 'Вы действительно хотите удалить этот курс?'} %>
        </td>
      </tr>
  <% end %>
</table>