<% if current_user.has_any_role? :admin, :manager %>
    <%= simple_form_for(@user, html: {class: 'form-horizontal', autocomplete: 'off'},
                        wrapper: :horizontal_form,
                        wrapper_mappings: {
                            check_boxes: :horizontal_radio_and_checkboxes,
                            radio_buttons: :horizontal_radio_and_checkboxes,
                            file: :horizontal_file_input,
                            boolean: :horizontal_boolean
                        }) do |f| %>

        <div class="row">
          <div class="col-md-6 col-xs-12">

          <div>
            <p><b>Курс</b></p>
            <select name="courses" id="courses" class="form-control" style="width: 200px;">
              <option value="" selected="selected">Курс</option>
              <% Course.all.each do |course| %>
                  <option value="<%= course.id %>"                              >
                    <%= course.name %>
                  </option>
              <% end %>
            </select>

          </div>

          <div>
            <p><b>Группа</b></p>
            <select name="groups" id="groups" disabled = "true" class="form-control" style="width: 200px;">
              <option value="" selected="selected">Группа</option>
              <% Group.all.each do |group| %>
                  <option value="<%= group.id %>"data-target="<%= group.course_id %>"><%= group.name %></option>
              <% end %>
            </select>
          </div>
            <%= f.input :name, label: 'Имя', placeholder: 'Имя',
                        input_html: {style: 'width:200px;'} %>
            <%= f.input :surname, label: 'Фамилия', placeholder: 'Фамилия',
                        input_html: {style: 'width:200px;'} %>
            <%= f.input :middlename, label: 'Отчество', placeholder: 'Отчество',
                        input_html: {style: 'width:200px;'} %>
            <%= f.input :gender, label: 'Пол', as: :radio_buttons,
                        collection: ['Мужчина', 'Женщина'] %>
            <div class="col-sm-3" style="text-align: right">
              <label for="birthdate">* Дата рождения</label>
            </div>
            <div class="col-sm-9">
              <%= f.input :birthdate, label: false, start_year: 1950, end_year: Date.today.year - 10, order: [:day, :month, :year] %>
            </div>
            <%= f.input :passportdetails, label: 'Паспорт', placeholder: 'Паспортные данные' %>
            <div class="col-sm-3" style="text-align: right">
              <label style="margin-top:5px;">Фото</label>
            </div>
            <div class="col-sm-offset-3">
              <%= image_tag @user.image.url(:thumb), class: 'img-circle img-responsive usr-img-form', size: '50' %>
              <%= f.input :image, label: false %>
            </div>

          </div>
          <div class="col-md-6 col-xs-12">
            <%= f.input :email, label: 'Эл.почта', placeholder: 'Только @gmail.com',
                        input_html: {style: 'width:200px;', autocomplete: 'false'} %>
            <%= f.simple_fields_for(:contact, input_html: {style: 'width:200px;'})  do |ff| %>
                <%= ff.input :phone, label: 'Номер телефона', placeholder: 'Номер телефона',
                             input_html: {style: 'width:200px;'} %>
                <%= ff.input :additional_phone, label: 'Доп. номер телефона', placeholder: 'Доп. номер телефона',
                                             input_html: {style: 'width:200px;'}%>
                <%= ff.input :skype, label: 'Skype', placeholder: 'Skype',
                                             input_html: {style: 'width:200px;'} %>

            <% end %>
            <%= f.association :roles, label: 'Роли', as: :check_boxes %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <%= f.button :submit, 'Сохранить', class: 'btn btn-success' %>
          </div>
        </div>

    <% end %>
    <!-- Если пользователь студент, препод, или суппорт, то разрешить изменять только эти данные -->
<% else %>
    <%= simple_form_for(@user, html: {class: 'form-horizontal', autocomplete: 'off', dataSomething: 'lkjlkj' },
                        wrapper: :horizontal_form,
                        wrapper_mappings: {
                            check_boxes: :horizontal_radio_and_checkboxes,
                            radio_buttons: :horizontal_radio_and_checkboxes,
                            file: :horizontal_file_input,
                            boolean: :horizontal_boolean
                        }, ) do |f| %>

        <div class="row">
          <div class="col-md-6 col-xs-12">
            <%= f.input :email, label: 'Эл.почта', placeholder: 'Только @gmail.com',
                        input_html: {style: 'width:200px;'} %>
            <%= f.input :password, label: 'Password', placeholder: 'Password',
                        input_html: {autocomplete: 'off', style: 'width:200px;'} %>
            <<%= f.simple_fields_for(:contact, input_html: {style: 'width:200px;'})  do |ff| %>
                <%= ff.input :phone, label: 'Номер телефона', placeholder: 'Номер телефона',
                             input_html: {style: 'width:200px;'} %>
                <%= ff.input :additional_phone, label: 'Доп. номер телефона', placeholder: 'Доп. номер телефона',
                             input_html: {style: 'width:200px;'}%>
                <%= ff.input :skype, label: 'Skype', placeholder: 'Skype',
                             input_html: {style: 'width:200px;'} %>

            <% end %>

          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <%= f.button :submit, 'Сохранить', class: 'btn btn-success' %>
          </div>
        </div>

    <% end %>
<% end %>