<div class="row">
  <div class="col-md-4">
    > <%= link_to 'Пользователи', courses_path %>
  </div>
</div></br>

<%= link_to 'Создать пользователя', new_user_path, class: 'btn btn-primary' %>

<table class="table">
  <tr>
    <th>email</th>
    <th> Действия </th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user_path(user)  %></td>
        <td>
          <%= link_to 'Редактировать', edit_user_path(user) %>
          <%= link_to 'Удалить', user_path(user),
                      method: :delete,
                      data: {confirm: 'Вы действительно хотите удалить пользователя?'} %>
        </td>
      </tr>
  <% end %>

</table>