<h3>Список студентов</h3>

<div class="digg_pagination" style="margin:auto">
  <%= will_paginate @students %>
</div>

<div class="row">
  <%= link_to 'Добавить студента', new_user_path(role_ids: @student_role.id), class:'btn btn-primary' %>
</div>

<br />
<table class="table table-condensed">
  <tr>
    <th>Студент</th>
    <th>Gmail</th>
    <th>Телефон</th>
    <th>Действия</th>
  </tr>

  <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.full_name, user_path(student) %></td>
        <td><%= student.email %></td>
        <td><%= student.contact.phone %></td>

        <td>
          <%= link_to user_path(student), class: 'btn btn-warning btn-xs' do %>
                Просмотреть
              <span class="glyphicon glyphicon-eye-open"></span>
          <% end %>
          <%= link_to edit_user_path(student), class: 'btn btn-danger btn-xs' do %>
              Редактировать
              <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

