<h3>Список преподователей</h3>

<div class="digg_pagination" style="margin:auto">
  <%= will_paginate @teachers %>
</div>

<div class="row">
  <%= link_to 'Добавить преподователя', new_user_path(role_ids: @teacher_role.id), class:'btn btn-primary' %>
</div>
<br />

<table class="table table-condensed">
  <tr>
    <th>Преподаватель</th>
    <th>Gmail</th>
    <th>Телефон</th>
    <th class="action_from_user">Действия</th>
  </tr>

  <% @teachers.each do |teacher| %>
      <tr>
        <td><%= link_to teacher.full_name, user_path(teacher) %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.contact.phone %></td>

        <td>
          <%= link_to user_path(teacher), class: 'btn btn-info btn-xs' do %>
              Просмотреть
              <span class="glyphicon glyphicon-eye-open"></span>
          <% end %>
          <%= link_to edit_user_path(teacher), class: 'btn btn-warning btn-xs' do %>
              Редактировать
              <span class="glyphicon glyphicon-edit"></span>
          <% end %>
          <%= link_to user_path(teacher), class: 'btn btn-danger btn-xs',
                      data: {confirm: "Вы уверены что хотите удалить : #{teacher.full_name}?"}, method: :delete do %>
              Удалить
              <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

