<h3>Список преподователей</h3>

<div class="digg_pagination" style="margin:auto">
  <%= will_paginate @teachers %>
</div>

<div class="row">
  <%= link_to 'Добавить преподователя', new_user_path(role: :teacher), class:'btn btn-primary' %>
</div>
<br />

<table class="table table-condensed">
  <tr>
    <th>Преподаватель</th>
    <th>Действия</th>
  </tr>

  <% @teachers.each do |teacher| %>
      <tr>
        <td><%= link_to teacher.full_name, user_path(teacher) %></td>

        <td>
          <%= link_to user_path(teacher), class: 'btn btn-warning btn-xs' do %>
              Просмотреть
              <span class="glyphicon glyphicon-eye-open"></span>
          <% end %>
          <%= link_to edit_user_path(teacher), class: 'btn btn-danger btn-xs' do %>
              Редактировать
              <span class="glyphicon glyphicon-edit"></span>
          <% end %>

        </td>
      </tr>
  <% end %>
</table>

