
<%= link_to 'Создать новый курс', new_course_path, class: 'btn btn-primary', style: 'margin-bottom: 10px' %>

<table class="table table-bordered table-striped" >
  <tr>
    <th>Название курса</th>
    <th>Группы</th>
    <th>Темы</th>
    <th style="width:250px;"> Действия </th>
  </tr>

  <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course_path(course)  %></td>
        <td><%= course.groups.count %></td>
        <td><%= course.course_elements.count %></td>
        <td>
          <%= link_to 'Редактировать', edit_course_path(course), :class => 'btn btn-warning'  %>
          <%= link_to 'Удалить', course_path(course),
                      method: :delete,
                      data: {confirm: 'Вы действительно хотите удалить этот курс?'}, :class => 'btn btn-danger'  %>
        </td>
      </tr>
  <% end %>
</table>
