<!DOCTYPE html>
<html>
<head>
  <title>StudentCrm</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<<<<<<< HEAD
  <%=	 render 'shared/navbar' %>
</div>
=======
  <%=	 render 'layouts/navbar' %>
>>>>>>> origin/users

    <div class="col-md-12">
      <%= render 'shared/breadcrums' %>
    </div>
<<<<<<< HEAD
  </div>
  <%= flash_messages %>

  <%= yield %>
=======
  <br>
    <%= flash_messages %>

    <%= yield %>

>>>>>>> origin/users
</div>

</body>

<script>
  clearFlashOnReady();
</script>
</html>

